[submodule "PostsService"]
	path = PostsService
	url = https://github.com/Magni77/PostsService
[submodule "AuthService"]
	path = AuthService
	url = https://github.com/Magni77/AuthService
[submodule "ProfilesService"]
	path = ProfilesService
	url = https://github.com/Magni77/ProfilesService
